.app {
    text-align: center;
    border: 10px solid black;
    height: 200px;

    padding: 200px;
    margin: auto;
    margin-top: 100px;
}

.config li{
    list-style: none;
    margin-bottom: 16px;
} 

input {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

select{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}